{% extends 'travel/base.html' %}
{% block title %} Travel {% endblock %}

{% block body %}
    <div class="container">

        {% if albums %}
            <h1>{{ user.username }}'s Albums</h1>
            {% for album in albums %}
            <ul>
                <li>
                    <img src="{{ album.album_logo.url }}" width="200" height="200" class="img-responsive"><br>
                    <a href="{% url 'travel:details' album.id %}">{{ album.album_title }}</a><br>
                    <a href="{% url 'travel:delete-album' album.id %}">Delete album</a>
                </li>
            </ul>
            {% endfor %}
        {% else %}
            <h1> You have no albums</h1>
            <a href="{% url 'travel:album-add' %}">Add an album</a>
        {% endif %}

    </div>
{% endblock %}
