{% extends 'travel/base.html' %}
{% block title %}Search{% endblock %}

{% block body %}

    <div class="container">

        <!-- Search matches with Albums -->

        {% if albums %}
            <h1>Album matches : </h1>
            {% for album in albums %}
            <div class="col-sm-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <img src="{{ album.album_logo.url }}" width="250" height="250" class="img-responsive"><br>
                                <a href="{% url 'travel:details' album.id %}"><h3>{{ album.album_title }}</h3></a><br>  
                                <a href="{% url 'travel:delete-album' album.id %}" class="btn btn-xs btn-danger">Delete album</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}

    </div>

    <div class="container">

        <!-- Search matches with photos -->


        {% if photos %}
            <h1>Photo matches : </h1>

            {% for photo in photos %}
                <div class="col-sm-12 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                        <img src="{{ photo.photo_file.url }}" width="200" height="200" class="img-responsive"><br>
                                        <h3>{{ photo.photo_caption }}</h3>
                                        <a href="{% url 'travel:delete-photo' photo.album.id photo.id %}" class="btn btn-xs btn-danger">Delete photo</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

    </div>
{% endblock %}